-
    const slideFiveList = [
        {
            "text": `Not everyone likes significant white space`,
        },
        {
            "text": `Somewhat high learning curve`,
        },
        {
            "text": `JavaScript inlining can get cumbersome for more than one line`,
        },
        {
            "text": `Requires a task-runner on advanced projects`,
        },
        {
            "text": `Aaaand it's a tough job to use a mixin as an attribute for another mixin &gt;.&lt; `,
        }
    ]

div(class="row slider-paper-container")
    +list("Cons", slideFiveList)