-
    const slideFourList = [
        {
            "text": `Elegant HTML`,
        },
        {
            "text": `HTML code is valid`,
        },
        {
            "text": `Great with NodeJS`,
        },
        {
            "text": `Usage with Express server`,
        },
        {
            "text": `Open source`,
        },
        {
            "text": `Very short and easy syntax`,
        },
        {
            "text": `Structured with indentation`,
        },
        {
            "text": `Built in support for Markdown, CoffeeScript and others`,
        },
        {
            "text": `Etc...`,
        }
    ]

div(class="row slider-paper-container")
    +list("Pros", slideFourList)