-
    const slideTwoList = [
        {
            "text": `Created in 2012 by 
            <a href='https://github.com/ForbesLindesay' target='_blank'>Forbes Lindesay</a>`,
        },
        {
            "text": `<a href='https://github.com/pugjs/pug/issues/2184' target='_blank'>Renamed</a>
            in 2015 from "Jade" to "Pug"`,
        },
        {
            "text": `PugJS is a HTML templating engine`,
        },
        {
            "text": `Designed to compile templates server-side in Node.js`,
        }
    ]

div(class="row slider-paper-container")
    +list("Intro", slideTwoList)