-
    const slideThreeList = [
        {
            "text": `Clean code`,
        },
        {
            "text": `Variables`,
        },
        {
            "text": `Mixins`,
        },
        {
            "text": `Javascript inlining`,
        },
        {
            "text": `Include, Inheritance & Extends`,
        },
        {
            "text": `Iteration (loop)`,
        },
        {
            "text": `Conditions and switches`,
        },
        {
            "text": `Escaped / Unescaped interpolation`,
        },
        {
            "text": `Etc...`,
        }
    ]

div(class="row slider-paper-container")
    +list("Features", slideThreeList)