extends ./extends/_main.pug

block content
    div(class="container")
        div(class="content-container")
            div(class="sliders-container")
                div(class="slider slider-1")
                    include ./slides/_slide-1
                div(class="slider slider-2")
                    include ./slides/_slide-2
                div(class="slider slider-3")
                    include ./slides/_slide-3
                div(class="slider slider-4")
                    include ./slides/_slide-4
                div(class="slider slider-5")
                    include ./slides/_slide-5
                div(class="slider slider-6")
                    include ./slides/_slide-6
                div(class="slider slider-7")
                    include ./slides/_slide-7
                div(class="slider slider-8")
                    include ./slides/_slide-8
                div(class="slider slider-9")
                    include ./slides/_slide-9
                div(class="slider slider-10")
                    include ./slides/_slide-10
                div(class="slider slider-11")
                    include ./slides/_slide-11
                div(class="slider slider-12")
                    include ./slides/_slide-12
                div(class="slider slider-13")
                    include ./slides/_slide-13
                div(class="slider slider-14")
                    include ./slides/_slide-14
                div(class="slider slider-15")
                    include ./slides/_slide-15
                div(class="slider slider-16")
                    include ./slides/_slide-16
                div(class="slider slider-17")
                    include ./slides/_slide-17
                div(class="slider slider-18")
                    include ./slides/_slide-18
                div(class="slider slider-19")
                    include ./slides/_slide-19

            div(class="slider-buttons-container clearfix")
                include ./components/buttons/_slider-buttons
            include ./slides/_counter